.navbar {
    background-color: rgba(3, 27, 50, 0);
    transition: all 0.3s ease;
    padding: 15px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--accent-color);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
